

#cd2436 .If {
  color: #15B57B;
  font-weight: bold;
  font-size: 13;
}
#ve2653 .GraphDataStyle2 {
  fill-color: #CCA937;
}
#ve2653 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve2669 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve576 .paragraph3 {
  text-align: center;
}
#ve576 .paragraph2 {
  text-align: center;
}
#ve576 .paragraph1 {
  text-align: center;
}
#ve3225 .paragraph1 {
  text-align: center;
}
#ve571 .paragraph1 {
  text-align: center;
}
#ve571 .paragraph2 {
  text-align: center;
}
#ve43 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve1145 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve2653 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve2625 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve2475 .ReportElementContainer {
  padding: 0px;
}
#ve790 .span1 {
  color: #FFFFFF;
}
#ve3220 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 10pt;
}
#ve1280 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve1896 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve470 .span2 {
  color: #CCA937;
  font-weight: bold;
  font-size: 16pt;
}
#ve2634 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve470 .span1 {
  color: #CCA937;
  font-weight: bold;
  font-size: 16pt;
}
#ve1107 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve571 .paragraph3 {
  text-align: center;
}
#cd3020 .If {
  color: #15B57B;
  font-weight: bold;
  font-size: 13;
}
#ve857 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve2634 .GraphDataStyleDefault {
  marker-color: #0165B7;
  text-color: #0165B7;
  fill-color: #0165B7;
  line-color: #0165B7;
}
#cd2444 .If {
  color: #15B57B;
  font-weight: bold;
  font-size: 13;
}
#ve146 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve686 .paragraph1 {
  text-align: center;
}
#ve3195 .paragraph1 {
  text-align: center;
}
#ve866 .GraphDataStyle3 {
  fill-color: #65849E;
}
#ve866 .GraphDataStyle4 {
  fill-color: #4A586B;
}
#ve866 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve866 .GraphDataStyle2 {
  fill-color: #2D91E2;
}
#ve1925 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve850 .ReportElementContainer {
  padding: 0px;
}
#ve2653 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve155 .ReportElementContainer {
  padding: 8px;
}
#ve694 .paragraph1 {
  text-align: center;
}
#ve1224 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve1127 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve850 .Container {
  background-color: #06137A;
  transparency: 0;
}
#ve561 .paragraph1 {
  text-align: center;
}
#ve3173 .span1 {
  color: #FFFFFF;
  font-weight: bold;
}
#ve1913 .GraphSkin {
  data-skin: CRISP;
}
#ve1913 .GraphDataStyleDefault {
  fill-color: #2470AD;
}
#ve566 .paragraph2 {
  text-align: center;
}
#ve566 .paragraph1 {
  text-align: center;
}
#cd3032 .If {
  color: #DD5757;
  font-weight: bold;
  font-size: 13;
}
#ve566 .paragraph3 {
  text-align: center;
}
#ve1240 .span1 {
  color: #CCA937;
  font-weight: bold;
  font-size: 16pt;
}
#ve1107 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve1240 .span2 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12pt;
}
#ve730 .paragraph1 {
  text-align: center;
}
#ve155 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve1925 .GraphDataStyleDefault {
  fill-color: #61646B;
}
#cd2440 .If {
  color: #15B57B;
  font-weight: bold;
  font-size: 13;
}
#ve561 .paragraph2 {
  text-align: center;
}
#ve561 .paragraph3 {
  text-align: center;
}
#ve1172 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve146 .ReportElementContainer {
  padding: 8px;
}
#ve2661 .ReportElementContainer {
  padding: 8px;
}
#ve1268 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve155 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve571 .span2 {
  color: #FFFFFF;
  font-size: 8pt;
}
#ve571 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 9pt;
}
#ve1163 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve2618 .Container {
  border-width: 0px;
  border-color: #FFFFFF;
}
#ve470 .span3 {
  color: #CCA937;
  font-weight: bold;
  font-size: 16pt;
}
#ve43 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve1304 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#cd614 .If {
  color: #DD5757;
  font-weight: bold;
  font-size: 13;
}
#ve1262 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#cd3036 .If {
  color: #DD5757;
  font-weight: bold;
  font-size: 13;
}
#ve1292 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve3213 .paragraph1 {
  text-align: center;
}
#ve131 .ReportElementContainer {
  padding: 8px;
}
#ve718 .paragraph1 {
  text-align: center;
}
#ve1925 .ReportElementContainer {
  padding: 5px;
}
#ve3270 .span1 {
  color: #FFFFFF;
  font-weight: bold;
}
#ve146 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve1913 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve1941 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve702 .paragraph1 {
  text-align: center;
}
#ve2461 .ReportElementContainer {
  padding: 0px;
}
#ve2466 .ReportElementContainer {
  padding: 0px;
}
#ve1213 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve866 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve1896 .GraphDataStyle2 {
  marker-color: #CCA937;
  text-color: #CCA937;
  fill-color: #2470AD;
  line-color: #CCA937;
}
#ve1896 .GraphDataStyle1 {
  fill-color: #4E51A0;
}
#ve101 .ReportElementContainer {
  padding: 8px;
}
#cd3028 .If {
  color: #DD5757;
  font-weight: bold;
  font-size: 13;
}
#ve55 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve1896 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve742 .paragraph1 {
  text-align: center;
}
#ve590 .span2 {
  font-weight: bold;
  font-size: 10pt;
}
#ve590 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 10pt;
}
#ve3270 .ReportElementContainer {
  padding: 0px;
}
#ve2634 .GraphDataStyle2 {
  marker-color: #CCA937;
  text-color: #CCA937;
  fill-color: #CCA937;
  line-color: #CCA937;
}
#ve556 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 9pt;
}
#ve581 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12pt;
}
#ve2642 .ReportElementContainer {
  padding: 8px;
}
#ve556 .span2 {
  color: #FFFFFF;
  font-size: 8pt;
}
#ve3173 .ReportElementContainer {
  padding: 0px;
}
#ve581 .span2 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12pt;
}
#ve1913 .ReportElementContainer {
  padding: 5px;
}
#ve561 .Container {
  background-color: #2C3AA5;
  transparency: 0;
  border-width: 6px;
  border-color: #06137A;
}
#ve131 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve2634 .GraphDataStyle1 {
  marker-color: #0165B7;
  text-color: #0165B7;
  fill-color: #0165B7;
  line-color: #0165B7;
}
#ve1262 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve857 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve2642 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve1224 .ReportElementContainer {
  padding: 10px;
}
#ve1224 .GraphDataStyle4 {
  fill-color: #4A586B;
}
#ve55 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve155 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve101 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve1224 .GraphDataStyle2 {
  fill-color: #2C8AD6;
}
#ve1224 .GraphDataStyle3 {
  fill-color: #6B809E;
}
#ve1224 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve1925 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve857 .ReportElementContainer {
  padding: 10px;
}
#ve2642 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve146 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve866 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve2669 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve131 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve1163 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve766 .span1 {
  color: #FFFFFF;
  font-weight: bold;
}
#ve1274 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve866 .ReportElementContainer {
  padding: 10px;
}
#ve3213 .span1 {
  color: #CCA937;
  font-weight: bold;
  font-size: 10pt;
}
#ve1136 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve1187 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve1274 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve857 .GraphSkin {
  data-skin: PRESSED;
}
#ve2642 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve3220 .paragraph1 {
  text-align: center;
}
#ve2653 .ReportElementContainer {
  padding: 8px;
}
#ve866 .GraphSkin {
  data-skin: PRESSED;
}
#ve3265 .span1 {
  color: #FFFFFF;
  font-weight: bold;
}
#ve2642 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve1136 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve418 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve2446 .ReportElementContainer {
  padding: 0px;
}
#ve2625 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve766 .paragraph1 {
  text-align: center;
}
#ve2661 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve556 .Container {
  background-color: #2C3AA5;
  transparency: 0;
  border-width: 6px;
  border-color: #06137A;
}
#ve155 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve167 .ReportElementContainer {
  padding: 8px;
}
#ve546 .Container {
  background-color: #2C3AA5;
  transparency: 0;
  border-width: 6px;
  border-color: #06137A;
}
#ve43 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve754 .span1 {
  font-size: 13pt;
}
#ve1341 .Container {
  background-color: #06137A;
  transparency: 0;
}
#ve1154 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve1913 .GraphDataStyle1 {
  fill-color: #2470AD;
}
#ve1913 .GraphDataStyle2 {
  marker-color: #CCA937;
  text-color: #CCA937;
  fill-color: #2470AD;
  line-color: #CCA937;
}
#ve90 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve566 .Container {
  background-color: #2C3AA5;
  transparency: 0;
  border-width: 6px;
  border-color: #06137A;
}
#ve2681 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve576 .Container {
  background-color: #2C3AA5;
  transparency: 0;
  border-width: 6px;
  border-color: #06137A;
}
#ve621 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14pt;
}
#ve1896 .GraphSkin {
  data-skin: CRISP;
}
#ve1187 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve2669 .ReportElementContainer {
  padding: 8px;
}
#ve451 .ReportElementContainer {
  padding: 0px;
}
#cd3030 .If {
  color: #DD5757;
  font-weight: bold;
  font-size: 13;
}
#ve878 .ReportElementContainer {
  padding: 0px;
}
#ve451 .Container {
  background-color: #06137A;
  transparency: 0;
}
#ve576 .span2 {
  color: #FFFFFF;
  font-size: 8pt;
}
#ve561 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 9pt;
}
#cd2434 .If {
  color: #15B57B;
  font-weight: bold;
  font-size: 13;
}
#ve576 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 9pt;
}
#ve561 .span2 {
  color: #FFFFFF;
  font-size: 8pt;
}
#ve43 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve1925 .GraphSkin {
  data-skin: CRISP;
}
#ve101 .GraphDataStyleDefault {
  marker-color: #0165B7;
  text-color: #0165B7;
  fill-color: #0165B7;
  line-color: #0165B7;
}
#ve480 .Container {
  background-color: #2C3AA5;
  transparency: 0;
  border-width: 6px;
  border-color: #06137A;
}
#ve480 .span2 {
  color: #FFFFFF;
  font-size: 8pt;
}
#ve694 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14pt;
}
#ve1286 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve1341 .ReportElementContainer {
  padding: 0px;
}
#ve2661 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve1172 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve2634 .ReportElementContainer {
  padding: 8px;
}
#ve778 .paragraph1 {
  text-align: center;
}
#ve546 .paragraph3 {
  text-align: center;
}
#ve546 .paragraph1 {
  text-align: center;
}
#ve546 .paragraph2 {
  text-align: center;
}
#ve480 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 9pt;
}
#ve2625 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve1286 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve1213 .ReportElementContainer {
  padding: 0px;
}
#ve43 .ReportElementContainer {
  padding: 8px;
}
#ve1913 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve3195 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 10pt;
}
#ve2653 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve546 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 9pt;
}
#ve546 .span2 {
  color: #FFFFFF;
  font-size: 8pt;
}
#ve1298 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#cd2438 .If {
  color: #15B57B;
  font-weight: bold;
  font-size: 13;
}
#ve131 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve480 .paragraph3 {
  text-align: center;
}
#ve480 .paragraph2 {
  text-align: center;
}
#ve480 .paragraph1 {
  text-align: center;
}
#cd3034 .If {
  color: #DD5757;
  font-weight: bold;
  font-size: 13;
}
#ve101 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve857 .GraphDataStyle1 {
  fill-color: #B0B7C2;
}
#ve857 .GraphDataStyle2 {
  fill-color: #C7E3F9;
}
#ve857 .GraphDataStyle3 {
  fill-color: #6A6DC1;
}
#ve857 .GraphDataStyle4 {
  fill-color: #2470AD;
}
#ve2625 .ReportElementContainer {
  padding: 8px;
}
#ve2681 .ReportElementContainer {
  padding: 8px;
}
#ve1127 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve2669 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#cd2442 .If {
  color: #15B57B;
  font-weight: bold;
  font-size: 13;
}
#ve778 .span1 {
  color: #FFFFFF;
}
#ve1154 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve418 .ButtonBar {
  background-color: #E9ECEF;
  color: #545B66;
  selected-background-color: #2C3AA5;
  font-size: 8pt;
  selected-color: #FFFFFF;
}
#ve1292 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve556 .paragraph1 {
  text-align: center;
}
#ve590 .paragraph1 {
  text-align: center;
}
#ve556 .paragraph2 {
  text-align: center;
}
#ve556 .paragraph3 {
  text-align: center;
}
#ve3203 .span1 {
  color: #FFFFFF;
  font-weight: bold;
}
#ve1298 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve1896 .ReportElementContainer {
  padding: 5px;
}
#ve2683 .ReportElementContainer {
  padding: 0px;
}
#ve3200 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 10pt;
}
#ve167 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve3188 .span1 {
  color: #CCA937;
  font-weight: bold;
  font-size: 10pt;
}
#ve55 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve55 .GraphDataStyle2 {
  fill-color: #CCA937;
}
#ve3188 .span2 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 10pt;
}
#ve571 .Container {
  background-color: #2C3AA5;
  transparency: 0;
  border-width: 6px;
  border-color: #06137A;
}
#ve1304 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve857 .GraphDataStyleDefault {
  fill-color: #B0B7C2;
}
#ve2634 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve131 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve1145 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve101 .GraphDataStyle1 {
  marker-color: #0165B7;
  text-color: #0165B7;
  fill-color: #0165B7;
  line-color: #0165B7;
}
#ve2661 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve1224 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve101 .GraphDataStyle2 {
  marker-color: #CCA937;
  text-color: #CCA937;
  fill-color: #CCA937;
  line-color: #CCA937;
}
#ve2681 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#ve1280 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve167 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 5px;
  border-color: #06137A;
}
#cd3026 .If {
  color: #DD5757;
  font-weight: bold;
  font-size: 13;
}
#ve1925 .TipText {
  text-color: #48505B;
}
#ve790 .paragraph1 {
  text-align: center;
}
#ve3265 .ReportElementContainer {
  padding: 0px;
}
#ve702 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14pt;
}
#ve702 .span2 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14pt;
}
#ve55 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve2707 .span1 {
  color: #CCA937;
}
#ve1268 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve90 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve462 .ReportElementContainer {
  padding: 0px;
}
#ve2661 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve1118 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve866 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve1941 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve1896 .GraphDataStyleDefault {
  fill-color: #4E51A0;
}
#ve3188 .paragraph1 {
  text-align: center;
}
#ve478 .ReportElementContainer {
  padding: 5px;
}
#ve2669 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve1925 .GraphDataStyle1 {
  fill-color: #61646B;
}
#ve3225 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 10pt;
}
#ve1925 .GraphDataStyle2 {
  marker-color: #CCA937;
  text-color: #CCA937;
  fill-color: #2470AD;
  line-color: #CCA937;
}
#ve3203 .ReportElementContainer {
  padding: 0px;
}
#ve1118 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve2625 .GraphDataStyle1 {
  fill-color: #0165B7;
}
#ve146 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve566 .span2 {
  color: #FFFFFF;
  font-size: 8pt;
}
#ve566 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 9pt;
}
#ve1181 .styleForTitle_span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 8pt;
}
#ve55 .ReportElementContainer {
  padding: 8px;
}
#ve1181 .ComboBox {
  background-color: #2C3AA5;
  color: #FFFFFF;
  font-size: 8pt;
}
#ve718 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14pt;
}
#ve2707 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve1224 .GraphDataStyleDefault {
  fill-color: #0165B7;
}
#ve3200 .paragraph1 {
  text-align: center;
}
#ve710 .span2 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14pt;
}
#ve852 .span1 {
  color: #CCA937;
  font-weight: bold;
  font-size: 16pt;
}
#ve710 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14pt;
}
#ve852 .span2 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12pt;
}
#ve686 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14pt;
}

			